<div class="bandMemberGrid">
    <div class="bandMemberName">
        <h2><%= name %></h2>
    </div>
    <div class="bandMemberPictureBorder" >
        <div class="bandMemberPicture" style="background-image: url('/images/<%= image %>');"></div>
    </div>
    <div class="bandMemberInfo">
        <p><%= info %></p>
    </div>
    <div class="bandMemberSocials">test socials</div>
</div>