<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FairGround</title>

<!-- CSS (load bootstrap from a CDN) -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rock+Salt&family=Montserrat:wght@600&family=Permanent+Marker&family=Mukta:wght@500&family=Rye&display=swap" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">
<link href="/stylesheets/navbar.css" rel="stylesheet">
<link href="/stylesheets/index.css" rel="stylesheet">
<link href="/stylesheets/header.css" rel="stylesheet">
<link href="/stylesheets/about.css" rel="stylesheet">
<link href="/stylesheets/bandMembers.css" rel="stylesheet">
<link href="/stylesheets/bandMemberCell.css" rel="stylesheet">
<link href="/stylesheets/socials.css" rel="stylesheet">
<link href="/stylesheets/mailingList.css" rel="stylesheet">
<link href="/stylesheets/music.css" rel="stylesheet">
<link href="/stylesheets/song.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/bandMemberCell.js"></script>