<div id="headerFlex">
    <div id="socialsWrapper">
        <%- include('socials') %>
    </div>
    <div id="logo">
        <img src="images/carnivalTent.png">
    </div>
    <div id="nameWrapper">
        <h1 id="name">Fairgrounds</h1>
    </div>
    <div id="navbarWrapper">
        <%- include('navbar') %>
    </div>
</div>
