<nav id="navbarPages" class="navbar navbar-expand-sm navbar-dark container-fluid">
  <ul id="pagesList" class="navbar-nav center">
    <li class="nav-item">
      <a class="nav-link <% if(page === "index") { %> active <% } %>" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if(page === "about") { %> active <% } %>" href="/about">ABOUT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if(page === "music") { %> active <% } %>" href="/music">MUSIC</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if(page === "shows") { %> active <% } %>" href="/shows">SHOWS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if(page === "contact") { %> active <% } %>" href="/contact">CONTACT</a>
    </li>
  </ul>
</nav>