<nav class="navbar navbar-expand-lg navbar-dark container-fluid">
  <ul class="navbar-nav me-auto" id="navbarPages">
    <li class="nav-item">
      <a class="nav-link <% if(page === "index") { %> active <% } %>" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if(page === "about") { %> active <% } %>" href="/about">ABOUT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if(page === "music") { %> active <% } %>" href="/music">MUSIC</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if(page === "shows") { %> active <% } %>" href="/shows">SHOWS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if(page === "contact") { %> active <% } %>" href="/contact">CONTACT</a>
    </li>
  </ul>
  <ul class="navbar-nav ms-auto" id="navbarSocials">
    <li class="nav-item">
      <a href="https://www.facebook.com" target="_blank">
        <img class="socialMediaLogo" src="images/facebook.svg">
      </a>
    </li>
    <li class="nav-item">
      <a href="https://www.twitter.com" target="_blank">
        <img class="socialMediaLogo" src="images/twitter.svg">
      </a>
    </li>
    <li class="nav-item">
      <a href="https://www.instagram.com" target="_blank">
        <img class="socialMediaLogo" src="images/instagram.svg">
      </a>
    </li>
  </ul>
</nav>