<div class="showWrapper">
    <div class="showDate">
        <p><%= showDate %></p>
    </div>
    <div class="showBuildingAndTime">
        <p><%= showBuilding %> @ <%= showTime %></p>
    </div>
    <div class="showCityState">
        <p><%= showCityState %></p>
    </div>
    <div class="showTickets">
        <button class="blueButton">TICKETS</button>
    </div>
</div>