<div class="songWrapper">
    <h3 class=songName><%= songName %></h3>
    <div class="musicPlayer">
        <audio controls>
            <source src="music/<%= songFilename %>" type="<%= type %>">
        </audio>
    </div>
</div>