#aboutGrid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: 'about members';
    width: 90vw;
    height: 98%;
    min-height: fit-content;
    margin-left: 4%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    overflow: hidden;
}

#aboutFlex {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    overflow: hidden;
    flex-wrap: wrap;
}

#aboutBand {
    flex: 0 0 50%;
    grid-area: about;
    display: flex;
    justify-content: center;
    padding: 3%;
    color: black;
}

#bandMembers {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
}

/* #aboutBand {
    grid-area: about;
    display: flex;
    justify-content: center;
    margin: 10%;
    color: black;
}

#bandMembers {
    display: flex;
    flex-direction: column;
} */

.bandMemberCell {
    flex: 0 0 25%;
    animation-name: slideLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0%;
    overflow: hidden;
}

.bandMemberCellBackgroundImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    margin-left: -10%;
    height: 100%;
    width: 150%;
}

#bandMemberRyanHaley {
    animation-name: slideLeft;
    animation-duration: 1s;
    animation-delay: 0s;
}

#bandMemberJoey {
    animation-name: slideLeft;
    animation-duration: 1s;
    animation-delay: .25s;
}

#bandMemberRyanDrew {
    animation-name: slideLeft;
    animation-duration: 1s;
    animation-delay: .5s;
}

#bandMemberCormac {
    animation-name: slideLeft;
    animation-duration: 1s;
    animation-delay: .75s;
}

.aboutBandMemberName {
    font-family: 'Rye', cursive;
    margin-left: 10%;
}

.bandMemberNameLink {
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0.8;
}

.bandMemberNameLink:hover {
    color: black;
    opacity: 1;
}

.instrument {
    margin-left: 10%;
}

.slantedDiv {
    -moz-transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    -o-transform: skew(-10deg, 0deg);
    -ms-transform: skew(-10deg, 0deg);
    transform: skew(-10deg, 0deg);
}

.unslantDiv {
    -moz-transform: skew(10deg, 0deg);
    -webkit-transform: skew(10deg, 0deg);
    -o-transform: skew(10deg, 0deg);
    -ms-transform: skew(10deg, 0deg);
    transform: skew(10deg, 0deg);
}

@keyframes slideLeft {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }