#aboutFlex {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    overflow: hidden;
    flex-wrap: wrap;
}

#aboutBand {
    flex: 0 0 50%;
    grid-area: about;
    display: flex;
    justify-content: center;
    padding: 1% 8% 1% 8%;
    color: black;
}

#aboutBand > p {
    text-align: justify;
}