h1, h2, h3, h4, h5, h6 {
    
}

#headerSection {
    background-image: url('/images/carnivalBackground.jpg');
    background-attachment: fixed;
    height: fit-content;
    min-height: 100vh;
}

.headerText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rye', cursive;
    color: black;
}

.blueLayer {
    background-color: rgba(11, 32, 102, 0.75);
    height: fit-content;
}

.greyLayer {
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 250px;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;
}

#yellowLayer {
    background-color: rgba(187, 190, 0, 0.7);
    height: fit-content;
    min-height: 250px;
    padding-top: 50px;
}

#mailingListSection {
    background-color: whitesmoke;
    min-height: 250px;
    height: fit-content;
    background-image: url('/images/ferrisWheel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#about {
    background-image: url('/images/carnivalSwings.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: fit-content;
    min-height: 250px;
}

#music {
    background-image: url(/images/carnivalBackground.jpg);
    background-attachment: fixed;
    height: fit-content;
    min-height: 400px;
}

#shows {
    background-color: aqua;
    height: fit-content;
    min-height: 400px;
}

#contact {
    background-color: chartreuse;
    height: 400px;
}

@media screen and (max-width: 750px)  {
    #headerSection {
        height: 70vh;
        min-height: 70vh;
    }

    .blueLayer {
        height: 70vh;
        min-height: 70vh;
    }
}