

#headerSection {
    background-image: url('/images/carnivalBackground.jpg');
    height: fit-content;
    min-height: 100vh;
}

#blueLayer {
    background-color: rgba(11, 32, 102, 0.75);
    height: fit-content;
    min-height: 100vh;
}

#mailingListSection {
    background-color: whitesmoke;
    min-height: 250px;
    height: fit-content;
    background-image: url('/images/ferrisWheel.jpg');
    background-size: cover;
}

#greyLayer {
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 250px;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;
}

#aboutSection {
    background-color: green;
    height: 400px;
}

#musicSection {
    background-color: red;
    height: 400px;
}

#showsSection {
    background-color: aqua;
    height: 400px;
}

#contactSection {
    background-color: chartreuse;
    height: 400px;
}

@media screen and (max-width: 750px)  {
    #headerSection {
        height: 70vh;
        min-height: 70vh;
    }

    #blueLayer {
        height: 70vh;
        min-height: 70vh;
    }
}