#mailingListContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: var(--minSectionHeight);
    height: fit-content;
}

#mailingListSectionHeader {
    color: black;
}

#emailWrapper {
    display: flex;
    height: 40px;
    width: 50%;
    justify-content: space-between;
}

#emailInput {
    border-radius: 5px;
    max-width: 65%;
    flex: 0 0 65%;
}