#navbarPages {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pagesList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-item > * {
    font-family: 'Montserrat', sans-serif; 
    font-size: large;
    color: white !important;
}

.nav-item > *:hover {
    color: grey !important;
}

.nav-link {
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
}

.navbar-nav {
    flex-direction: row !important;
}