<div id="aboutHeader">
    <h2>About</h2>
</div>
<div id="aboutBand">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
        optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
        obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam.
        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
        optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
        obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam 
        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
        optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
        obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam. </p>
</div>
<div id="bandMembers">
    <%- include('../partials/bandMemberCell', {bandMemberID: 'RyanHaley', bandMemberImage: 'ryanHaley.jpg', bandMemberName: 'Ryan Haley',
                                               bandMemberURL: 'ryanHaley', instrument: 'Guitar / Vocals', backgroundColorRGB: '0,0,0'}) %>

    <%- include('../partials/bandMemberCell', {bandMemberID: 'Joey', bandMemberImage: 'joey.jpg', bandMemberName: 'Joey Serra', 
                                               bandMemberURL: 'joeySerra', instrument: 'Guitar / Vocals', backgroundColorRGB: '0,0,0'}) %>

    <%- include('../partials/bandMemberCell', {bandMemberID: 'RyanDrew', bandMemberImage: 'ryanDrew.jpg', bandMemberName: 'Ryan Drew',
                                               bandMemberURL: 'ryanDrew', instrument: 'Bass', backgroundColorRGB: '0,0,0'}) %>

    <%- include('../partials/bandMemberCell', {bandMemberID: 'Cormac', bandMemberImage: 'cormac.jpg', bandMemberName: 'Cormac Egan',
                                               bandMemberURL: 'cormacEgan', instrument: 'Drums', backgroundColorRGB: '0,0,0'}) %>
</div>
<div id="bandMemberInfo" style="display: none;">
    <div style="background-color: aqua; height: 300px;"></div>
</div>