<div id="mainFlex">
    <div id="headerSection">
        <div id="blueLayer">
            <%- include('../partials/header') %>
        </div>
    </div>
    <div id="mailingListSection">
        <div id="greyLayer">
            <%- include('mailingList') %>
        </div>
    </div>
    <div id="aboutSection" name="about">
    </div>
    <div id="musicSection" name="music">
    </div>
    <div id="showsSection" name="shows">
    </div>
    <div id="contactSection" name="contact">
    </div>
</div>