<div id="mainFlex">
    <div id="headerSection">
        <div id="blueLayer">
            <%- include('../partials/header') %>
        </div>
    </div>
    <div id="mailingListSection">
        <div id="greyLayer">
            <%- include('mailingList') %>
        </div>
    </div>
    <div id="about">
        <div id="yellowLayer">
            <%- include('about') %>
        </div>
    </div>
    <div id="music">
    </div>
    <div id="shows">
    </div>
    <div id="contact">
    </div>
</div>