<div id="mainFlex">
    <div id="headerSection">
        <div id="blueLayer">
            <%- include('../partials/header') %>
        </div>
    </div>
    <div id="mailingListSection">
        <div id="greyLayer">
            <%- include('mailingList') %>
        </div>
    </div>
    <div id="aboutSection">

    </div>
    <div id="musicSection">

    </div>
    <div id="showsSection">

    </div>
    <div id="footer">

    </div>
</div>