<div id="mailingListContent">
    <h4 id="mailingListText" style="color: black">STAY UP TO DATE! JOIN OUR MAILING LIST!</h4>
    <div id="emailWrapper">
        <input id="emailInput" type="text" placeholder="Your email">
        <button id="submitEmail">SUBMIT</button>
    </div>
</div>
