<div id="mailingListContent" class="sectionWrapper">
    <div id="mailingListSectionHeader" class="sectionHeader">
        <h4>STAY UP TO DATE! JOIN OUR MAILING LIST!</h4>
    </div>
    <div id="emailWrapper" class="sectionContent">
        <input id="emailInput" type="text" placeholder="Your email">
        <button class="yellowButton">SUBMIT</button>
    </div>
</div>
