<div id="musicSectionWrapper" class="sectionWrapper">
    <div id="musicSectionHeader" class="sectionHeader">
        <h2>Music</h2>
    </div>
    <div id="musicSectionContent" class="sectionContent">
        <%- include('../partials/song', {songName: 'Little Boy Blue', songFilename: 'littleBoyBlue.mp3', type: 'audio/mpeg'}) %>
        <%- include('../partials/song', {songName: 'Pixie Cut', songFilename: 'pixieCut.mp3', type: 'audio/mpeg'}) %>
    </div>
</div>