<div id="showsSectionWrapper" class="sectionWrapper">
    <div id="showsSectionHeader" class="sectionHeader">
        <h2>Shows</h2>
    </div>
    <div id="showsSectionContent" class="sectionContent">
        <p>Upcoming shows will show up here.</p>
    </div>
</div>