<div id="showsSectionWrapper" class="sectionWrapper">
    <div id="showsSectionHeader" class="sectionHeader">
        <h2>Shows</h2>
    </div>
    <div id="showsSectionContent" class="sectionContent">
        <%- include('../partials/show', {showDate: 'DEC 3RD, 2021', showBuilding: 'BLIND PIG', showTime: '7:00PM', showCityState: 'ANN ARBOR, MI'}) %>
        <%- include('../partials/show', {showDate: 'JAN 20TH, 2022', showBuilding: "MOM'S HOUSE", showTime: '12:00PM', showCityState: 'MADISON HEIGHTS, MI'}) %>
    </div>
</div>